.container {
  width: 100%;
  font-family: "Open Sans";
}
.container .options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: white;
  margin-top: 3%;
  margin-bottom: 2%;
}
.container .options .findBlock {
  display: flex;
  width: 30%;
  height: 20px;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}
.container .options .findBlock form .searchInput {
  border: 3px #FFCB30 solid;
  border-radius: 30px;
  padding-left: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: rgb(255, 255, 255);
}
.container .options .findBlock form .autocomplete {
  position: absolute;
  width: 30%;
  margin-left: 1%;
  background-color: white;
  padding: 0;
  box-shadow: 0px 0px 3px black;
  z-index: 111;
  max-height: 30%;
  height: auto;
  overflow: auto;
  font-size: 16px;
}
.container .options .findBlock form .autocomplete .item {
  padding-left: 3%;
  padding-bottom: 1%;
  font-weight: 600;
}
.container .options .findBlock form .autocomplete .item:hover {
  background-color: rgb(195, 195, 195);
  cursor: pointer;
}
.container .options .words {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 30%;
  height: 40px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 2%;
  padding: 0;
}
.container .options .words div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px #A49F92 solid;
  border-radius: 30px;
  width: 30%;
}
.container .options .words div p {
  margin: 0;
  padding: 3%;
  display: inline-block;
}
.container .catalog {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.container .catalog .block {
  width: 30%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.container .catalog .block .linkBlockFRS {
  text-align: center;
}
.container .catalog .block .linkBlockFRS .first .catalogPhoto {
  width: 90%;
}
.container .catalog .block .add {
  width: 3%;
  color: rgb(0, 0, 0);
  transform: scale(2.5);
  position: relative;
  top: 9%;
  left: 37%;
  cursor: pointer;
  transition: transform 0.15s linear;
}
.container .catalog .block .add:hover {
  transform: scale(2);
}
.container .catalog .block .text {
  width: 80%;
}
.container .catalog .block .text .linkBlockSec {
  text-decoration: none;
  color: black;
}
.container .catalog .block .text .linkBlockSec:visited {
  color: black;
}
.container .catalog .block .text p {
  text-align: center;
  font-size: 14px;
  margin-top: 2%;
  margin-bottom: 0%;
}
.container .catalog .block .hideBlock {
  display: none;
  position: absolute;
}

@media (max-width: 1350px) {
  .container .options {
    background-color: white;
    margin-top: 3%;
    margin-bottom: 2%;
  }
  .container .options .findBlock {
    width: 40%;
    height: 20px;
  }
  .container .options .findBlock form .searchInput {
    padding-left: 5%;
    width: 90%;
    height: 70%;
    font-size: 12px;
    outline: none;
    background-color: rgb(255, 255, 255);
  }
  .container .options .findBlock form .autocomplete {
    font-size: 10px;
    position: absolute;
    width: 30%;
    max-height: 20%;
  }
  .container .options .findBlock form .autocomplete .item {
    padding-left: 3%;
    padding-bottom: 1%;
    font-weight: 600;
  }
  .container .options .findBlock form .autocomplete .item:hover {
    background-color: rgb(195, 195, 195);
    cursor: pointer;
  }
  .container .options .words {
    width: 50%;
    height: 40px;
    font-weight: 600;
    margin-top: 2%;
    padding: 0;
  }
  .container .options .words div {
    border-radius: 30px;
    width: 40%;
  }
  .container .options .words div p {
    font-size: 10px;
    margin: 0;
    padding: 3%;
    display: inline-block;
  }
  .container .catalog {
    background-color: white;
    width: 100%;
  }
  .container .catalog .block {
    width: 50%;
    margin-bottom: 4%;
  }
  .container .catalog .block .linkBlockFRS {
    text-align: center;
  }
  .container .catalog .block .linkBlockFRS .first .catalogPhoto {
    width: 90%;
  }
  .container .catalog .block .add {
    width: 4%;
  }
  .container .catalog .block .text {
    width: 80%;
  }
  .container .catalog .block .text .linkBlockSec {
    text-decoration: none;
    color: black;
  }
  .container .catalog .block .text .linkBlockSec:visited {
    color: black;
  }
  .container .catalog .block .text p {
    text-align: center;
    font-size: 11px;
    margin-top: 2%;
    margin-bottom: 0%;
  }
  .container .catalog .block .hideBlock {
    display: none;
    position: absolute;
  }
}/*# sourceMappingURL=CatalogMainPage.module.css.map */