@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../font/OpenSans-Regular.ttf') format('truetype');

  }

  @font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: italic;
    src: url('../font/OpenSans-Italic.ttf') format('truetype');
  }
  

  @font-face {
    font-family: 'Open Sans';
    font-weight: 600 ;
    font-style: normal;
    src: url('../font/OpenSans-SemiBold.ttf') format('truetype');
  }

  
  @font-face {
    font-family: 'Open Sans';
    font-weight: 600 ;
    font-style: italic;
    src: url('../font/OpenSans-SemiBoldItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    src: url('../font/OpenSans-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: italic;
    src: url('../font/OpenSans-BoldItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
    src: url('../font/OpenSans-ExtraBold.ttf') format('truetype');

  }
  
  @font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: italic;
    src: url('../font/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  }


  @font-face {
    font-family: 'Open Sans';
    font-weight: lighter ;
    font-style: italic;
    src: url('../font/OpenSans-Light.ttf') format('truetype');
  }