@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: italic;
  src: url("../font/OpenSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  src: url("../font/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: italic;
  src: url("../font/OpenSans-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../font/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: italic;
  src: url("../font/OpenSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  font-style: normal;
  src: url("../font/OpenSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  font-style: italic;
  src: url("../font/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: lighter;
  font-style: italic;
  src: url("../font/OpenSans-Light.ttf") format("truetype");
}
.HdrCont {
  background-color: #6EB2E3;
  font-family: "Open Sans";
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 110px;
  position: relative;
  top: 0px;
  z-index: 3;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.HdrCont .Name {
  margin: 0px;
  font-weight: 800;
}
.HdrCont .comp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 16px;
  width: 86%;
  height: 50%;
}
.HdrCont .comp .Icons {
  margin-left: 0px;
}
.HdrCont .comp .Icons .userric {
  width: 62%;
  transform: scale(3);
  float: right;
  cursor: pointer;
  transition: color, transform 400ms ease;
}
.HdrCont .comp .Icons .userric:hover {
  color: #018dc9;
  transform: scale(2.5);
}
.HdrCont .comp .txt {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
}
.HdrCont .comp .txt .links {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.HdrCont .comp .txt :hover {
  text-decoration: underline;
}
.HdrCont .comp .Iconsss {
  margin-right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.HdrCont .comp .Iconsss .cart {
  width: 60%;
  transform: scale(3);
  float: right;
  cursor: pointer;
  transition: color, transform 400ms ease;
}
.HdrCont .comp .Iconsss .cart:hover {
  color: #018dc9;
  transform: scale(2.5);
}
.HdrCont .comp .Iconsss .active {
  color: #018dc9;
  transform: scale(3.5);
}
.HdrCont .comp .Iconsss .shopCart {
  position: absolute;
  top: 240%;
  right: -100px;
  width: 27vw;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  z-index: 1000;
  padding: 1vw;
}
.HdrCont .comp .Iconsss .shopCart .myorders {
  height: 30vh;
  width: 100%;
  overflow: auto;
  color: #000000;
  border-bottom: 2px solid black;
}
.HdrCont .comp .Iconsss .shopCart .myorders .myorders2 {
  max-height: 90%;
}
.HdrCont .comp .Iconsss .shopCart .empty h2 {
  font-size: 16px;
  padding: 2%;
  color: #000000;
}
.HdrCont .comp .Iconsss .summa {
  color: #000000;
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 1vh;
}

@media (max-width: 1350px) {
  .HdrCont {
    height: 90px;
  }
  .HdrCont .Name {
    margin: 0px;
    font-weight: 800;
    font-size: 20px;
  }
  .HdrCont .comp {
    font-size: 12px;
    width: 90%;
  }
  .HdrCont .comp .Icons .userric {
    width: 60%;
    transform: scale(3);
  }
  .HdrCont .comp .Icons .userric:hover {
    color: #018dc9;
    transform: scale(2.5);
  }
  .HdrCont .comp .txt {
    width: 100%;
  }
  .HdrCont .comp .Iconsss .cart {
    width: 60%;
    transform: scale(3);
  }
  .HdrCont .comp .Iconsss .cart:hover {
    color: #018dc9;
    transform: scale(2.5);
  }
  .HdrCont .comp .Iconsss .active {
    color: #ffffff;
    transform: scale(3.5);
  }
  .HdrCont .comp .Iconsss .shopCart {
    position: absolute;
    top: 240%;
    right: -18px;
    width: 45vw;
  }
  .HdrCont .comp .Iconsss .shopCart .myorders {
    height: 20vh;
    width: 100%;
    overflow: auto;
    color: #000000;
    border-bottom: 2px solid black;
  }
  .HdrCont .comp .Iconsss .shopCart .myorders .myorders2 {
    max-height: 90%;
  }
  .HdrCont .comp .Iconsss .shopCart .empty h2 {
    font-size: 12px;
    padding: 2%;
  }
  .HdrCont .comp .Iconsss .summa {
    font-size: 10px;
  }
}/*# sourceMappingURL=header.module.css.map */