@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: italic;
  src: url("../font/OpenSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  src: url("../font/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: italic;
  src: url("../font/OpenSans-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../font/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: italic;
  src: url("../font/OpenSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  font-style: normal;
  src: url("../font/OpenSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  font-style: italic;
  src: url("../font/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: lighter;
  font-style: italic;
  src: url("../font/OpenSans-Light.ttf") format("truetype");
}
.SliderBlock {
  margin-top: 8%;
  margin-bottom: 6%;
}
.SliderBlock h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  padding-left: 2%;
  margin-top: 0;
  margin-bottom: 4%;
}
.SliderBlock .mySwiper {
  height: 80%;
}
.SliderBlock .mySwiper .swiper {
  width: 80%;
  height: 90%;
}
.SliderBlock .mySwiper .swiper-button-next, .SliderBlock .mySwiper .swiper-button-prev {
  color: black;
}
.SliderBlock .mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.SliderBlock .mySwiper .swiper-slide img {
  display: block;
  width: 110%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1350px) {
  .SliderBlock {
    margin-top: 10%;
    margin-bottom: 13%;
  }
  .SliderBlock h3 {
    font-size: 18px;
  }
  .SliderBlock .mySwiper {
    height: 100%;
  }
  .SliderBlock .mySwiper .swiper {
    width: 90%;
    height: 100%;
  }
  .SliderBlock .mySwiper .swiper-button-next, .SliderBlock .mySwiper .swiper-button-prev {
    color: rgba(0, 0, 0, 0);
  }
  .SliderBlock .mySwiper .swiper-horizontal > .swiper-pagination-bullets, .SliderBlock .mySwiper .swiper-pagination-bullets.swiper-pagination-horizontal, .SliderBlock .mySwiper .swiper-pagination-custom, .SliderBlock .mySwiper .swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
    width: 100%;
  }
  .SliderBlock .mySwiper .swiper-pagination {
    position: relative;
  }
  .SliderBlock .mySwiper .swiper-slide img {
    display: inline;
    width: 141px;
    height: 101px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=Slider.css.map */